<div class="station">
	<div class="header">
		<span>系统设置&nbsp;&gt;&nbsp;站点管理</span>
	</div>
	<div class="selects">
		<select name="" id="area">
			<option value="-1">所在区域</option>
			<option value="-1">梁溪区</option>
			<option value="-1">滨湖区</option>
		</select>
		<select name="" id="kind">
			<option value="-1">所在区域</option>
			<option value="-1">梁溪区</option>
			<option value="-1">滨湖区</option>
		</select>
		<input type="text" name="stationName" id="stationName" value="" placeholder="站点名称" />
		<a class="sea">
			<img src="../../../../../assets/img/search_b.png" />
		</a>

		<div class="fr">
			<a class="add" (click)='shows()'>
				<img src="../../../../../assets/img/adds.png" />
				<span>新增</span>
			</a>
			<a class="out">
				<img src="../../../../../assets/img/outs.png" />
				<span>导出</span>
			</a>
		</div>
	</div>
	<div class="stationList">
		<div class="list">
			<table class="tableHead">
				<thead>
					<tr>
						<td>序号</td>
						<td>站点名称</td>
						<td>电站类型</td>
						<td>建设类型</td>
						<td>建设规模</td>
						<td>所属区域</td>
						<td>投资回报率</td>
						<td>成本节约/年</td>
						<td>经度</td>
						<td>纬度</td>
						<td>站点图片</td>
						<td>
							<div>操作</div>
							<div>
								<a>编辑</a>
								<a>删除</a>
							</div>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let items of msglist;let i = index;'>
						<ng-container *ngIf='i>=(page-1)*10&&i<page*10'>
							<td>{{i+1}}</td>
							<td *ngFor='let item of items;let i = index;'>{{item}}</td>
							<td>查看</td>
							<td>
								<a><img src="../../../../../assets/img/sc.png" /></a>
								<a><img src="../../../../../assets/img/bj.png" /></a>
							</td>
						</ng-container>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="page">
			<ul>
				<li (click)='first()'>
					<a><img src="../../../../../assets/img/pgbegin.png" /></a>
				</li>
				<li (click)='prev()'>
					<a><img src="../../../../../assets/img/pgprev.png" /></a>
				</li>
				<li>
					<select name="" [(ngModel)]='page'>
						<ng-container *ngFor='let p of pageArr; let s = index'>
							<option [value]="p">{{p}}</option>
						</ng-container>
					</select>
				</li>
				<li (click)='next()'>
					<a><img src="../../../../../assets/img/pgnext.png" /></a>
				</li>
				<li (click)='last()'>
					<a><img src="../../../../../assets/img/pgend.png" /></a>
				</li>
				<li><span>共{{msglist.length}}条记录，当前页面{{page}}/{{maxPage}}页</span></li>
			</ul>
		</div>
	</div>
	
	
	
	
	<div class="alerts" *ngIf='alertshow'>
		<span class="middles"></span>
		<div id="win">
			<div class="alerttitle">
				<span>新增站点信息</span><i (click)='hiddens()' class="glyphicon glyphicon-remove"></i>
			</div>
			<div class="put">
				<span>站点名称</span><input type="text" placeholder="填写用户名称"/>
			</div>
			<div class="put">
				<p><span>电站类型</span>
					<select name="">
						<option value="-1">请选择</option>
					</select>
				</p>
				<p><span>建设类型</span>
					<select name="">
						<option value="-1">请选择</option>
					</select>
				</p>
			</div>
			<div class="put">
				<p><span>建设规模</span>
					<input type="text" />
				</p>
				<p><span>所属区域</span>
					<select name="">
						<option value="-1">请选择</option>
					</select>
				</p>
			</div>
			<div class="put">
				<p><span>投资回报率</span>
					<input type="text" />
				</p>
				<p><span>节约成本/年</span>
					<input type="text" />
				</p>
			</div>
			<div class="put">
				<p><span>经度</span>
					<input type="text" />
				</p>
				<p><span>纬度</span>
					<input type="text" />
				</p>
			</div>
			<div class="up">
				<span>站点图片</span>
				<div><img src="../../../../../assets/img/up.png"/></div>
			</div>
			<div class="notes">备注：电站类型：1.光伏站 2.风能站 3.其他&nbsp;&nbsp;建设类型：1.办公园区 2.工厂 3.住宅</div>
			<div class="myBtn">
				<a (click)='hiddens()'>取消</a><a>确定</a>
			</div>
		</div>
	</div>
</div>